+++
title = "PyLearn"
linkTitle = "PyLearn"

+++

{{< blocks/cover title="Python for Everyone" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/lessons" >}}">
		Start Learning <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
        <p />
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<h1>PyLearn is...</h1>
<br>
<ul class="text-left display-5">
<li>
    <b>inclusive</b> - no prerequisites, perfect for beginners
<li>
    <b>approachable</b> - nothing to install or configure
<li>
    <b>convenient</b> - learn at your pace, on your schedule
<li>
    <b>free</b> - no fees, no ads, not now, not ever
<li>
    <b>practical</b> - understand not only how, but why
<li>
    <b>respectful</b> - we never request or store any personal information
<li>
    <b>interactive</b> - learn by doing, using Colab notebooks
</ul>

{{% /blocks/lead %}}

{{% blocks/lead color="secondary" %}}
<div class="col">
<h1 class="text-center">What you will learn...</h1>
<br>
<ul class="text-left">
<li>Notebook 1 - Course Overview, Background, and Getting Started
<li>Notebook 2 - Numbers, Strrings, Variables, and Assignment Statements
<li>Notebook 3 - Boolean Comparisons, Boolean Operators, and Expressions
<li>Notebook 4 - Controlling Program Flow and Using Modules
<li>Notebook 5 - More Strings and Loops
<li>Notebook 6 - Functions and Modules
<li>Notebook 7 - Tuples, Lists, and Dictionaries
<li>Notebook 8 - Files and Exceptions
<li>Notebook 9 - Sample Project
</ul>
</div>

{{< /blocks/lead>}}

