+++
title = "PyLearn"
linkTitle = "PyLearn"

+++

{{< blocks/cover title="Python for Everyone" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/lessons" >}}">
		Start Learning <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
        <p />
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<h1>PyLearn is...</h1>
<br>
<ul class="text-left display-5">
<li>
    <b>inclusive</b> - no prerequisites, perfect for beginners
<li>
    <b>approachable</b> - nothing to install or configure
<li>
    <b>convenient</b> - learn at your pace, on your schedule
<li>
    <b>free</b> - no fees, no ads, not now, not ever
<li>
    <b>practical</b> - understand not only how, but why
<li>
    <b>respectful</b> - we never request or store any personal information
<li>
    <b>interactive</b> - learn by doing, using Colab notebooks
</ul>

{{% /blocks/lead %}}

{{% blocks/lead color="secondary" %}}
<div class="col">
<h1 class="text-center">What you will learn...</h1>
<br>
<ul class="text-left">
<li>Lesson 1 - Welcome, Background, Getting Started
<li>Lesson 2 - Types, Variables, Assignment
<li>Lesson 3 - More Types, Expressions, Operators
<li>Lesson 4 - Conditionals
<li>Lesson 5 - Loops
<li>Lesson 6 - Functions
<li>Lesson 7 - Iterables
<li>Lesson 8 - Files
<li>Lesson 9 - Exceptions
</ul>
</div>

{{< /blocks/lead>}}

