+++
title = "PyLearn"
linkTitle = "PyLearn"

+++

{{< blocks/cover title="PyLearn - Practical Python for Everyone" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/lessons" >}}">
		Start Learning <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!--
        <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Porridge temperature assessment - in the cloud!</p>
        -->
        <p />
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<h1> PyLearn is..."</h1>

<p class="lead mt-20">
    no strings attached - No charge, no ads, no personal info requested or saved, not now, not ever.
</p>

<p class="lead mt-20">
    practical - Every lesson we’ll solve real problems because I want you to understand not only how to do things, but why.
</p>

<p class="lead mt-20">
    interactive - All course material (lecture notes, homework, exercises, etc.) are delivered via interactive notebooks, which promotes active learning.
</p>

<p class="lead mt-20">
    batteries included - There are no prerequisites and nothing to install or configure - all you need to get started is a web browser.
</p>
<p class="lead mt-20">
    convenient - learn at your pace, on your schedule
</p>
{{% /blocks/lead %}}

{{< blocks/section >}}
<div class="col">
<h1 class="text-center">What you will learn...</h1>

<p>Week 1 - Python Basics</p>
<p>Week 2 - Booleans, Expressions, Operators, and If Statements</p>
<p>Week 3 - String Revisited and Loops
<p>Week 4 - Functions and Modules
<p>Week 5 - Tuples, Lists, and Dictionaries
<p>Week 6 - Objects, Files, and Exceptions
<p>Week 7 - Applied Python - Data Science
web scraping
csv files
pandas
data visualization
<p>Week 8 - Applied Python - Web and Cloud Computing
containers
web server
back end API
Cloud Run
</div>

{{< /blocks/section >}}
{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
